<div class="section-title text-center mt-5">
  
    <h1 class="special">CLIENT REVIEWS</h1>
    
</div>
<div class="client-reivew card col-md-10 mb-5 my-0 mx-auto">
    
    <div id="clientReivew" class="carousel slide" data-ride="carousel" data-interval="100000">
      <div class="w-100 carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="carousel-caption">
            <div class="row">
              
              <div class="col-sm-12 text-center">
                <h3>{{review.0.ClientName}}</h3>
                <small>{{review.0.clientReview}}</small>
              </div>
            </div>
          </div>
        </div>
        {% for review in review|slice:"1:" %} 
        <div class="carousel-item ">
          <div class="carousel-caption">
            <div class="row">
              
              <div class="col-sm-12 text-center">
                <h3>{{review.ClientName}}</h3>
                <small>{{review.clientReview}}</small>
              
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="float-right navi">
      <a class="" href="#clientReivew" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon ico" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="" href="#clientReivew" role="button" data-slide="next">
        <span class="carousel-control-next-icon ico" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      </div>
    </div>
  </div>
